name: CI

on:
  schedule:
    - cron: "1 */1 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Hello READE
        run: |
          HOURS=$(date +%H%M)
          echo $HOURS > README.md
      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          if [ -n "$(git status --porcelain)" ]; then
            git add node
            git commit -m "ci: sync date"
            git push
          else
            echo "No changes to commit"
          fi
